// Font
$font-family-base: "Manrope", "Arial", sans-serif;

// Grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 767px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);


$dakr: #000000;
$green-light: #26C048;
$green: #4BA94F;
$grey: #818181;
$yellow-light: #F9F5E8;
$orange: #F67C61;