@import "variables";
@import "mixins/breakpoints";
@import "partials/fonts";
@import "partials/buttons";
@import "partials/w-slds-card-v";
@import "partials/carousel-settings";
.w-slds {
  font-family: $font-family-base;
  color: $dakr;
  max-width: 1184px;
  margin: 25px auto;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    margin: 50px auto;
  }
  * {
    box-sizing: border-box;
    font-family: $font-family-base;
  }
}
.w-slds-carousel {
  position: relative;
  @include media-breakpoint-up(md) {
      padding: 0 44px;
  }
  &.has-one-slide {
    padding: 0;
    .w-slds-prev,
    .w-slds-next {
      display: none;
    }
  }
  .swiper {
    margin-left: -11px;
    margin-right: -11px;
    &:not(.swiper-initialized) {
      visibility: hidden;
      opacity: 0;
    }
  }
  .swiper-slide {
    padding: 0 11px;
    height: auto;
    display: flex;
  }
  .w-slds-prev,
  .w-slds-next {
    top: 196px;
  }
}