.w-slds-card-popup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s opacity, 0.3s visibility;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: #FFF;
  border-radius: 20px;
  border: 1px solid $green-light;
  padding: 10px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    padding: 12px 24px 22px;
  }
  &.is-open {
    visibility: visible;
    opacity: 1;
  }
  &-ttl {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;
  }
  &-subttl {
    margin-bottom: 15px;
  }
  &-desc {
    flex: 1 0 0%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
  }
  &-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}