@import "card-popup";
@import "chars";
@import "marketing";
.w-slds-card-v {
  border-radius: 20px;
  border: 1px solid $green-light;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  .w-slds-pict {
    position: relative;
    background-color: #FEC8B4;
    height: 196px;
    overflow: hidden;
    margin: -1px -1px 0;
    border-radius: 20px 20px 0 0;
    .w-slds-marketing {
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  .w-slds-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .w-slds-desc {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    @include media-breakpoint-up(md) {
      padding: 22px 30px;
    }
  }
  .w-slds-ttl {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .w-slds-tags {
    margin: 12px -4px 0;
  }
  .w-slds-tag {
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    padding: 2px 8px;
    background-color: $yellow-light;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
  }
  .w-slds-btm {
    padding-top: 25px;
    margin-top: auto;
    display: flex;
    align-items: center;
    .w-slds-btn-wrap {
      flex: 1;
    }
    .w-slds-info + .w-slds-btn-wrap {
      width: 146px;
      max-width: 146px;
    }
    .w-slds-btn {
      margin-left: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;

    }
  }
  .w-slds-info {
    margin-right: auto;
    padding-right: 10px;
  }
  .w-slds-info-ttl {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: $grey;
  }
  .w-slds-info-val {
    display: flex;
    align-items: center;
    color: $green;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-top: 2px;
    white-space: nowrap;
    svg {
      flex: 0 0 20px;
      max-width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }

}


