@import "card-popup";
@import "chars";
@import "marketing";
.w-slds-card-h {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  border: 1px solid $green-light;
  position: relative;
  @include media-breakpoint-up(md) {
    flex-flow: row nowrap;
  }
  .w-slds-pict {
    position: relative;
    background-color: #FEC8B4;
    height: 196px;
    overflow: hidden;
    margin: -1px -1px 0;
    border-radius: 20px 20px 0 0;
    @include media-breakpoint-up(md) {
      height: calc(100% + 2px);
      border-radius: 20px 0  0 20px;
      max-width: percentage(404/1118);
      flex: 0 0 percentage(404/1118);
    }
    .w-slds-marketing {
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  .w-slds-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .w-slds-desc {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    @include media-breakpoint-up(md) {
      padding: 15px 10px;
    }
    @include media-breakpoint-up(lg) {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
    @include media-breakpoint-up(xxl) {
      padding: 36px 43px;
    }
  }
  .w-slds-ttl {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .w-slds-tags {
    margin: 12px -4px 0;
  }
  .w-slds-tag {
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    padding: 2px 8px;
    background-color: $yellow-light;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
  }
  .w-slds-desc-left {
    @include media-breakpoint-up(lg) {
      padding-right: 20px;

    }
  }
  .w-slds-btm {
    padding-top: 25px;
    margin-top: auto;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding-top: 0;

    }
    @include media-breakpoint-up(lg) {
      align-items: normal;
      margin-top: 0;
      flex: 0 0 190px;
      max-width: 190px;
      flex-direction: column;
    }
    .w-slds-btn-wrap {
      flex: 1;
      max-width: 146px;
      margin-top: 24px;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
          
      }
      @include media-breakpoint-down(md) {
        @include media-breakpoint-up(md) {
          min-width: 146px;
        }
      }
      @include media-breakpoint-up(lg) {
        max-width: none;
        order: -1;
      }
    }

    .w-slds-btn {
      margin-left: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;

    }
  }
  .w-slds-info {
    margin-right: auto;
    padding-left: 10px;
    @include media-breakpoint-up(md) {
      padding-left: 0;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 24px;
    }
  }
  .w-slds-info-ttl {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: $grey;
  }
  .w-slds-info-val {
    display: flex;
    align-items: center;
    color: $green;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-top: 2px;
    white-space: nowrap;
    svg {
      flex: 0 0 20px;
      max-width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
  .w-slds-chars {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row wrap;
      margin-left: -5px;
      margin-right: -5px;

    }
  }
  .w-slds-chars-itm {
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .w-slds-card-popup {
    @include media-breakpoint-up(md) {
      padding-right: 210px;
      .w-slds-card-popup-btn {
        position: absolute;
        width: 146px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        .w-slds-btn {
          width: 100%;
        }
      }
    }
    @include media-breakpoint-up(xxl) {
      padding-right: 233px;
      .w-slds-card-popup-btn {
        width: 190px;
        right: 43px;
      }
    }
  }
}


html .w-slds-slider.carousel-tablet .w-slds-card-h .w-slds-btm .w-slds-btn-wrap {
  @include media-breakpoint-down(sm) {
    flex: 0 0 146px;
  }
}