.w-slds-tabs {
  position: relative;
  overflow: hidden;
}
.w-slds-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s , opacity 0.3s;
  &.is-visible {
    visibility: visible;
    opacity: 1;
    position: static;
  }
}